@page
@model IndexModel
@{
    ViewData["Title"] = "airfryer: Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to <strong>airfryer</strong>, a recipe app.</p>
</div> 