@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Recipes";
}

<div>
    <h2>Recipes</h2>
</div>

<div>
    
    @if (!Model.Any())
    {
        <p>No recipes. Create one.</p>
    }
    
    <ul>
        @foreach (var recipe in Model)
        {
            <li>
                <a asp-controller="Recipe" asp-action="Recipe" asp-route-id="@recipe.Id">
                    @recipe.Name
                </a>
            </li>
        }
    </ul>
    
</div>